@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #03373d;
  --color-secondary: #caeb66;
  --color-accent: #e8eae3;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #1ba098;
  --color-secondary: #deb992;
  --color-accent: #051622;
;
}

body{
  font-family: "Urbanist", sans-serif;
}
